* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.form {
    position: relative;
    margin-top: 40px;
}

.input-container {
    position: relative;
    display: flex;
}

.input {
    height: 30px;
    margin-right: 30px;
}

.label {
    display: flex;
}
